body {
    background: #EEF2F7;
    /*background: linear-gradient(90deg, rgb(247, 247, 247) 0%, rgb(205, 212, 226) 35%, rgb(205, 223, 226) 100%);*/
    color: #515050;
}
#app {
    max-width: 850px;
    margin: 0 auto;
}

nav {
    padding: 20px 0 20px 0;
}

.nice-space {
    justify-content: space-around;
}

.time-slots {

}

.time-buttons {
    padding-top: 15px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: #EEF2F7;
}

.time-active {
    background-color: #007bff;
    color: #EEF2F7;
}

.shadow-lord {
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 5.5px 5px rgba(0, 0, 0, 0.06),
            0 12.3px 6.9px rgba(0, 0, 0, 0.072),
            0 12.8px 12.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
}
